*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.humdies{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    position: relative;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 60px;
    cursor: pointer;
    border-radius: 100%;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover{
    color: #e03d35;
}

.detel{
    margin-left: 8%;
    margin-top: 13%;
}

.detel h1{
    font-size: 50px;
    color: #000000;
    margin-bottom: 20px;
}

span{
    color: #e03535;
    
}

.detel p{
    color: 	black;
    line-height: 22px;
}

.detel a{
    background: #ff8080;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 8px;
}

.detel a:hover{
    color:white;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 95%;
    position: absolute;
    left: 60%;
    bottom: 0;
    transform: translateX(-60%);
    transition: bottom 1s, left 1s;
    padding-bottom: 40px;
}

.images:hover .shape{
    bottom: 5px;
}

.images:hover .orang{
    left: 55%;
    
}

.social{
    margin: 100px 0 100px 107px;
}

.social a{
    font-size: 30px;
    color: #e03535;
    margin-right: 20px;
}

.social a:hover{
    color: orange;
}

footer {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 0px;
    height: auto;
}

.maxwell h1{
    margin: 0 0 32px 105px;
}
